@font-face {
  font-family: "Exo2-SemiBoldItalic";
  src: url("../src/resources/fonts/Exo2-SemiBoldItalic.woff2");
}

@font-face {
  font-family: "Exo2-SemiBold";
  src: url("../src/resources//fonts/Exo2-SemiBold.woff2");
}

@font-face {
  font-family: "Exo-Regular";
  src: url("../src/resources//fonts/Exo-Regular.woff2");
}

@font-face {
  font-family: "Cafe24s";
  src: url("../src/resources/fonts/Cafe24Ssurround.woff2");
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../src/resources/fonts/BebasNeue-Regular.woff2");
}

@font-face {
  font-family: "BlendaScript";
  src: url("../src/resources/fonts/BlendaScript.woff2");
}

@font-face {
  font-family: "EliceDigitalBaeum-Regular";
  src: url("../src/resources/fonts/EliceDigitalBaeum_Regular.woff2");
}

@font-face {
  font-family: "EliceDigitalBaeum-Bold";
  src: url("../src/resources/fonts/EliceDigitalBaeum_Bold.woff2");
}

@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url("../src/resources/fonts/LeagueSpartan-Bold.woff2");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("../src/resources/fonts/Rubik-Regular.woff2");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../src/resources/fonts/Inter-Medium.woff2");
}