@font-face {
  font-family: "Exo2-SemiBoldItalic";
  src: url("../src/resources/fonts/Exo2-SemiBoldItalic.woff2");
}

@font-face {
  font-family: "Exo2-SemiBold";
  src: url("../src/resources//fonts/Exo2-SemiBold.woff2");
}

@font-face {
  font-family: "Exo-Regular";
  src: url("../src/resources//fonts/Exo-Regular.woff2");
}

@font-face {
  font-family: "Cafe24s";
  src: url("../src/resources/fonts/Cafe24Ssurround.woff2");
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../src/resources/fonts/BebasNeue-Regular.woff2");
}

@font-face {
  font-family: "BlendaScript";
  src: url("../src/resources/fonts/BlendaScript.woff2");
}
